body{
    background: #1d1d1d;
    margin-left: 6rem;
    font-family: 'Poppins', sans-serif;
}
.unactive{
    display: none;
}
.navbar{
    left:0;
    top: 0;
    position: fixed;
    width: 100%;
}
.titlediv{
    margin-top: 6rem;
}
.title{
    font-size:5rem;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.1;
}
.comma{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.white{
    color: #fff;
}
.purple{
    color: #421575;
}
.blue{
    color:#57c6e2;
}
.no-dec{
    text-decoration: none;
}
.under-title{
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: none;
}
.gray{
    color: #999999
}
.wide{
    font-size: 2rem;
    transform: scaleY(0.5);
}
.center{
    text-align: center;
}
.scroll-down{
    margin-top: 15rem;
    text-align: center;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
    0% {transform: translateY(0px);}
    100% {transform: translateY(-15px);}
}
.about-me{
    margin-top: 4rem;
}
.info-ab{
    font-weight: bold;
    margin-top: 4rem;
    display: inline-block;
    padding: 0.6rem;
    padding-left: 2rem;
    background: #1f1f1f;
    border-left: 0.35rem solid #421575;
}
.info-ab-no{
    align-items: top;   
    vertical-align:top;
    font-weight: bold;
    margin-top: 4rem;
    margin-left: 4rem;
    display: inline-block;
    padding: 0.6rem;
    padding-left: 2rem;
    padding-top: 4.4rem;
    background: #1f1f1f;
}
.info-ab-desc{
    font-weight: normal;
}
.info-ab-title{
    font-size: 2.5rem;
    transform: translateY(-2rem);
}
.info-ab-title-2{
    font-size: 1rem;
}
.skills{
    margin-top: 4rem;
}
progress {
    border: 0;
    height: 1.4rem;
    width: 40rem;
    border-radius: 20px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 1.4rem;
    width: 40rem;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    border: 0;
    height: 1.4rem;
    width: 40rem;
    border-radius: 20px;
    background-color: #57c6e2;
}
progress::-moz-progress-bar {
    border: 0;
    height: 1.4rem;
    width: 40rem;
    border-radius: 20px;
}
.works{
    display: flex;
    padding-top: 2rem;
}
.bold{
    font-weight: bold;
}
.work-1{
    margin-right: 2rem;
    border-radius: 15px;
    background-color: #1f1f1f;
    text-align: center;
    width: 16rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}
.work-img{
    border-radius: 10px;
    height: 9rem;
    width: 16rem;
}
.all-works{
    padding-top: 4rem;
}
a, button{
    font-family: 'Poppins', sans-serif;
}
.dropbtn {
  background-color: #1d1d1d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1d1d1d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #1d1d1d;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1d1d1d;}
